<header>
  <nav class="navbar" id="scrollingNav">
    <div class="name-icons">
      <p class="logo">Categorizer</p>
    </div>
    <div class="login-section">
      <a href="/login" class="login">Login</a>
    </div>
  </nav>
</header>