<header>
  <nav class="navbar" id="scrollingNav">
    <div class="name-icons">
      <p class="logo">Categorizer</p>
      <i class="fas fa-tv icons"></i>
      <i class="fas fa-utensils icons"></i>
      <i class="fas fa-book icons"></i>
      <i class="fas fa-store icons"></i>
    </div>
    <div class="login-signup">
      <a href="/login" class="login">Login</a>
      <button class="sign-up-button">
        <a href="/signUp" class="sign-up">Sign Up</a>
      </button>
    </div>
  </nav>
</header>