

.item-search-container {
    height: 120px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
}

.search-form {
  padding: 10px 200px;
  border-radius: 15px;
}

.search-icon {
  font-size:20px;
}
.categorize-button {
  border:none
}

.categories-container {
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 10px;
}

.category-section {
  width: 25%;
  font-size: 100px;
  padding-top: 20px;
}

.name-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-name {
  font-size:30px;
  margin-top: 5px;
}

