.navbar {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.name-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(229, 242, 255)
}

.logo {
  width: 400px;
  font-size: 40px;
  color: rgb(229, 242, 255);
  display: flex;
  justify-content: center;
}

.login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  justify-content: space-evenly;
  width: 200px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(229, 242, 255);
}

.login {
  color:rgb(229, 242, 255);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login:hover {
  color: rgb(246, 235, 138);
}

.sign-up {
  color: #eee;
}

.sign-up-button {
  background-color: #4500ff;
  border-radius: 20px;
  border: none;
  padding: 5px 9px;
}

/* category/settings page */

.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
}

.user-icon {
  font-size: 35px;
  color: aliceblue;
}

.user-icon-label {
  margin: 0;
}


/* settings */

.icons-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  justify-content: space-evenly;
}
